<div class="row">

  <%= form_with(model: user_list, local: true) do |form| %>
    <% if user_list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user_list.errors.count, "error") %> proibiu que esta lista fosse salva:</h2>

        <ul>
          <% user_list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-xs-6">
      <div class="agrupa-campo form-group">
        <%= form.label :name, class: 'control-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="agrupa-campo form-group">
        <%= form.label :notes, class: 'control-label' %>
        <%= form.text_field :notes, class: 'form-control' %>
      </div>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="col-xs-12 actions">
      <%= form.submit('Salvar', 'data-disable-with': 'Salvar', class: 'btn btn-success') %>
      <%= link_to 'Voltar', user_lists_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>