<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= @user_list.name %>
    </h1>

    <p>
      <strong>Notas:</strong>
      <%= @user_list.notes %>
    </p>

  </div>
  <div class="col-xs-12 actions">
    <%= link_to 'Voltar', user_lists_path, class: 'btn btn-default' %>
    <%= link_to 'Escolher Produtos', choose_products_user_lists_path(@user_list), class: 'btn btn-info' %>
  </div>

  <%= render 'list_products', user_list: @user_list, collection: @collection %>
</div>
